:root {
  --accent-color: rgb(250, 76, 76);
  --nav_panel-height: 64px;
  --logo-size: 48px;
  --section-margin: 256px;
}

:root {
  --content-width: 100%;
  --rows: 10;
  --width: 1024px;
  --row-gap: 0px;
  --row-size: 1fr;
  --column-gap: 0px;
  --grid-width: var(--width);
  --column-count: 14;
}

a {
  cursor: pointer;
}

a:hover {
  color: var(--accent-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.half-position {
  transform: translate(-50%, -50%);
}

[xtext] {
  transform-origin: bottom;
  transform: rotateX(90deg);
  transition: transform 0.5s ease;
  transition-delay: 0.15s;
}

[xtext].viewActive {
  transform: rotateX(0deg);
}

#xbody {
  background: #f0f0f0;
}

#nav_panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--nav_panel-height);
  z-index: 9999;
  background: #4a4a4a;
}

#nav_panel.transparent {
  background: none;
}
#nav_panel.transparent a{
  color: var(--dark)!important;
}

#nav_panel #logo {
  width: var(--nav_panel-height);
  height: var(--nav_panel-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav_panel [xhero] {
  background-color: var(--accent-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  font-size: calc(var(--logo-size) / 3);
  height: var(--logo-size);
  width: var(--logo-size);
}

#nav_panel [xcontent] {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: var(--width);
  overflow: hidden;
}

#nav_panel [xlist] {
  justify-content: flex-end;
}

#nav_panel li {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  width: fit-content;
}

#nav_panel [xlist] a {
  color: var(--light);
  padding: 0 16px;
  height: 100%;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#bodyContent {
  max-width: 1024px;
  margin: 0 auto;
  height: auto;
}

#cards [xlist] {
  gap: 10px;
  margin-top: 32px;
  justify-content: center;
}

#cards [xlist]>[xbuild] {
  max-width: 180px;
  min-width: 140px;
  max-height: 250px;
  height: auto;
  background: white;
  display: flex;
  padding: 12px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

#cards [ximage] {
  padding: 32px;
}

#cards [xtext] {
  font-size: 2em;
}

#main [xbuild] {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main .name {
  background: linear-gradient(150deg, #87c1ffa1, #a0c8d880, transparent, transparent, transparent);
  flex: 1;
  width: 100%;
}

#main .image {
  flex: 1;
  overflow: hidden;
}

#main .image [ximage] {
  width: auto;
  height: 100%;
}

#about {
  display: flex;
  justify-content: center;
  height: auto;
}

#about [xcontent] {
  width: var(--width);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#about h1 {
  text-align: center;
  max-width: 750px;
  margin-top: var(--section-margin);
}

#about [xlist]>[xbuild] {
  flex: 1;
  overflow: hidden;
}

#about [xlist="row"]>[xbuild] {
  margin-top: 10em;
}

#about [xlist="row"] [xlist]>[xbuild]:first-child {
  margin-top: 0.8em;
}

#about [xlist="row"] [xlist]>[xbuild] {
  margin-top: 3em;
}

#data {
  margin-top: var(--section-margin);
  height: 100%;
}

#data .data-container>[xbuild] {
  flex: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#data .data-container .line-1 {
  flex: 2;
  background-color: var(--gray-900, #101010);
  color: white;
}

#data .data-container .line-3 {
  flex: 3;
  overflow: hidden;
}

#data .data-container .line-3 [ximage] {
  height: 100%;
  width: auto;
}

#data .line-4 {
  background-color: #fbfbfb;
}

#data .line-5 {
  background-color: #adadad;
}

#data .line-6 {
  background-color: #8a8a8a;
}

#footer {
  background: var(--grey-900, #101010);
}

[xbuild].grid {
  height: 100%;
  --grid-width: 100%;
  --column-gap-count: calc(var(--column-count) - 1);
  --column-width: calc((var(--grid-width) - var(--column-gap-count)*var(--column-gap))/var(--column-count));
  --container-width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: repeat(var(--rows), var(--row-size));
  grid-template-columns: calc((var(--container-width) - var(--content-width))/2) 1fr repeat(var(--column-count), minmax(0, var(--column-width))) 1fr calc((var(--container-width) - var(--content-width))/2);
  grid-auto-rows: var(--row-size);
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
}

[xbuild].grid>[xbuild] {
  position: relative;
  grid-area: var(--position);
  overflow: hidden;
}

#start {
  row-gap: 10px;
  column-gap: 20px;
}

.start_title {
  --position: 3/7/7/12;
  display: flex;
  align-items: flex-end;
}

.start_title h1 {
  font-size: 11vw;
  line-height: 0.85em;
}

.start_description {
  --position: 2/13/7/-3;
  font-size: 1.5em;
}

.start_lab {
  --position: 7/3/-2/7;
  font-size: 4vw;
  display:flex;
  align-items: center;
}

.start_card1 {
  --position: 7/7/-1/12;
}

.start_card1, .start_card2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_card1 [ximage] {
  height: auto;
}

.start_card2 {
  --position: 7/12/-1/-3;
}

.start_card2 [ximage] {
  width: auto;
}

@media screen and (max-width: 1024px) {
  #nav_panel [xcontent] {
    padding: 0 var(--size1, 16px);
  }
}

@media screen and (max-width: 750px) {
  #main {
    flex-direction: column;
  }
  #main .image [ximage] {
    width: 100%;
    height: auto;
    align-self: flex-end;
  }
}

@media screen and (max-width: 470px) {
  #nav_panel, #nav_panel [xcontent], #nav_panel [xlist] {
    width: auto;
  }
  #about [xlist="row"] {
    padding-top: 5em;
    flex-direction: column;
  }
  #about [xlist="row"]>[xbuild] {
    margin-top: 5em;
  }
  #data .data-container {
    flex-direction: column;
  }
  #data .data-container>[xbuild] {
    flex: 1;
    writing-mode: horizontal-tb;
  }
  #data .data-container .line-3 [ximage] {
    height: auto;
    width: 100%;
  }
}